html
{
	font-family: Verdana, Arial, Geneva, 'DejaVu Sans', sans-serif;
	color: white;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: rgb(69, 72, 77); /* Old browsers */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(69, 72, 77, 1)), color-stop(100%, rgba(0, 0, 0, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(69, 72, 77, 1) 0%,rgba(0, 0, 0, 1) 100%) !important;
	background: -o-linear-gradient(left, rgba(69, 72, 77, 1) 0%,rgba(0, 0, 0, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(69, 72, 77, 1) 0%,rgba(0, 0, 0, 1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(69, 72, 77, 1) 0%,	rgba(0, 0, 0, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d',endColorstr='#000000', GradientType=1);/* IE6-9 */
}
body
{
	height: 100%;
	width: 100%;
	position: absolute;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
h2
{
	margin: 10px;
}
h4
{
	margin: 3px;
}
h1, h2, p
{
	color: #fff;
	color: rgba(255, 255, 255, 0.75);
	text-align: left;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
h1
{
	margin: 0;
	color: #fff;
	text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
	-webkit-transition: .2s all linear;
}
h1:hover
{
	cursor: text;
}
h1:focus
{
	outline: none;
}
p
{
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
h2
{
	margin: 30px 0 15px;
	font-size: 20px;
	font-weight: 200;
	line-height: 25px;
}
p
{
	margin: 0px;
	padding: 0px;
}
table
{
	width: 100%;
}
table tr
{
	width: 100%;
}
table tr td
{
	margin: 0px;
}
.fulldefault
{
	height: 100%;
	width: 100%;
}
.fullinherit
{
	height: 100%;
	position: inherit;
	width: 100%;
}
.fullabsolute
{
	height: 100%;
	position: absolute;
	width: 100%;
}
.fullheight
{
	height: 100%;
}
.GlassButton
{
	color: #ffffff;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	text-shadow: /* Simulating Text Stroke */
	-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	border: 1px solid rgba(0,0,0,0.5);
	border-bottom: 3px solid rgba(0,0,0,0.5);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: rgba(0,0,0,0.25);
	-o-box-shadow: 0 2px 8px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	box-shadow: 0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
	inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
	inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
	inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
	inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
	text-decoration: none;
}
.Page
{
	position: absolute;
	height: 100%;
	width: 100%;
	display: none;
}
.ActivePage
{
	display: block;
}
#HomeView .TabContainer
{
	height: 100%;
}
#TabItems
{
	width: 100%;
	height: 15%;
	top: 0px;
	position: absolute;
	padding: 0px;
	display: inline-block;
}
#TabItems ul
{
	list-style: none;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
#TabItems .MenuItem *
{
	display: block;
}
#TabItems .MenuItem  img
{
	position: absolute;
	width: 20%;
	height: 80%;
	left: 2%;
}
#TabItems .MenuItem  .MenuItemText
{
	position: absolute;
	left: 24%;
	width: 72%;
	height: 90%;
	display: block;
	margin: 0;
}
.TabContentWrapper
{
	display: inline-block;
	width: 100%;
	position: absolute;
	top: 15%;
	bottom: 0%;
	margin: 0px;
	padding: 0px;
}
#SeriesView .TabContentWrapper
{
	top: 0px;
}
#HomeView .TabContent
{
	left: 2%;
	right: 2%;
	width: 96%;
	height: 100%;
	top: 0px;
	position: absolute;
}
#SeriesView .TabContent
{
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	top: 0px;
	position: absolute;
}
.TabPage
{
	width: 100%;
	height: 100%;
	bottom: 0px;
	display: none;
}
.TabPageHeader
{
	width: 96%;
	height: 90%;
	top: 0px;
	right: 2%;
	left: 0px;
	margin: 0px;
	position: absolute;
}
.TabPageContent
{
	width: 100%;
	padding: 0px;
	margin: 0px;
	bottom: 0px;
	position: absolute;
	display: inline-block;
	overflow-y: auto;
}
#ListTabContent .TabPageContent
{
	top: 50px;
}
#ListNewTabContent .TabPageContent
{
	top: 50px;
}
#List17PlusTabContent .TabPageContent
{
	top: 50px;
}
#MangaSeriesInfoTabContent .TabPageContent
{
	top: 20px;
}
#MangaSeriesInfoTabContent > .TabPageContent > div:first-child
{
	height: 250px;
	overflow-y: auto;
}
#MangaSeriesInfoTabContent .MangaChapterList
{
	padding: 0px;
	margin: 0px;
	top: 260px;
	bottom: 0px;
	left: 20px;
	right: 0px;
	position: absolute;
	display: inline-block;
	overflow-y: auto;
}
.TabPageContent
{
	top: 0px;
}
#ChapterViewTabContent .TabPageContent
{
	top: 0px;
}
#SearchTabContent .TabPageContent
{
	top: 100px;
}
#SearchTextBox
{
	font-size: 16px;
	font-style: italic;
	border: 0px;
	width: 100%;
	height: 100%;
}
#SearchBtnCell
{
	margin: 0px;
	padding: 0px;
	width: 50px;
	height: 50px;
}
#SearchBtn
{
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
	width : 90%;
	height: 90%;
	padding: 5%;
}
ul.MangaSeriesList
{
	padding: 0px;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
ul.MangaSeriesList > li
{
	width: 100%;
}
ul.MangaSeriesList div.MangaSeriesInfoList
{
	height: 100%;
	width: 100%;
	display: inline-block;
}
.ThumbnailInList
{
	width: 80px;
	height: 100%;
}
td.SeriesInfoInList
{
	width: 300px;
	margin: 10px;
	height: 100%;
}
.PageList ul
{
	list-style-type: none;
}
.PageList ul li
{
	text-align: center;
}

#BusyIndicator  img
{
	position: fixed;
	width: 100%;
	height: 100%;
}
#BusyIndicator  div
{
	position: absolute;
	width: 102px;
	height: 102px;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	background: transparent url(../img/LoadingCircle.png) 0 0 no-repeat;
}
/* Button */
button, .button, input[type="button"]
{
	background-color: #f4f4f4;
	background-image: -webkit-linear-gradient(90deg, hsla(0,0%,0%,.05), hsla(0,0%,0%,.01));
	box-shadow: inset 0 1px 0 hsla(0,0%,100%,.25), 0 1px 2px hsla(0,0%,0%,0.5);
	border-radius: 3px;
	border: none;
	cursor: pointer;
	height: 48px;
	padding: 0 30px 0 30px;
	-webkit-transition: .1s;
}
button:hover, .button:hover, input[type="button"]:hover
{
	background-image: -webkit-linear-gradient(90deg, hsla(0,0%,0%,.08),hsla(0,0%,0%,.03));
}
button:active, .button:active, input[type="button"]:active
{
	background-image: -webkit-linear-gradient(90deg, hsla(0,0%,0%,.15), hsla(0,0%,0%,.12));
	color: #333;
	text-shadow: 0 1px 0 hsla(0,0%,100%,.25);
}
button.threeD, .button .threeD, input[type="button"].threeD
{
	box-shadow: inset 0 1px 0 hsla(0,0%,100%,.25), inset 0 -4px 0 hsla(0,0%,0%,.15), 0 1px 2px hsla(0,0%,0%,0.5);
	height: 52px;
	padding-bottom: 4px;
}
button.threeD:active, .button .threeD:active, input[type="button"].threeD:active
{
	box-shadow: inset 0 1px 0 hsla(0,0%,100%,.25), inset 0 -2px 0 hsla(0,0%,0%,.3), 0 1px 2px hsla(0,0%,0%,0.75);
	position: relative;
	top: 1px;
	height: 51px;
}
button.small, .button .bsmall, input[type="button"].bsmall
{
	height: 32px;
}
button.smallthreeD, .button .smallthreeD, input[type="button"].bsmallthreeD
{
	box-shadow: inset 0 1px 0 hsla(0,0%,100%,.25), inset 0 -3px 0 hsla(0,0%,0%,.15), 0 1px 2px hsla(0,0%,0%,0.5);
	height: 35px;
	padding-bottom: 3px;
}
button.smallthreeD:active, .button .smallthreeD:active, input[type="button"].smallthreeD:active
{
	box-shadow: inset 0 1px 0 hsla(0,0%,100%,.25), inset 0 -1px 0 hsla(0,0%,0%,.3), 0 1px 2px hsla(0,0%,0%,0.75);
	position: relative;
	top: 1px;
	height: 35px;
}
