<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ftp://bluewindweb.somee.com/</MSDeployServiceURL>
    <DeployIisAppPath>bluewindweb.somee.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>koneta</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MangaPortal.Domain.BlueWindDataContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MangaPortal.Domain.BlueWindDataContext, MangaPortal" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BlueWind.Crawler.Manga.Domain.MangaDataContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BlueWind.Crawler.Manga.Domain.MangaDataContext, BlueWind.Crawler.Manga" MigrationConfiguration="BlueWind.Crawler.Manga.Migrations.Configuration, BlueWind.Crawler.Manga" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BlueWind.Crawler.Manga.Domain.MangaDataContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MangaPortal.Domain.BlueWindDataContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="BlueWind.Crawler.Manga.Domain.MangaDataContext" />
    <_ConnectionStringsToInsert Include="MangaPortal.Domain.BlueWindDataContext" />
  </ItemGroup>
</Project>