<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlueWind.Crawler.Manga.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BlueWind.Crawler.Manga.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>data source=bluewind.cuvuuohvwkjt.us-west-2.rds.amazonaws.com;database=Manga;multipleactiveresultsets=True;user id=koneta_rw;password=23659841756632145</value>
            </setting>
        </BlueWind.Crawler.Manga.Settings>
    </userSettings>
</configuration>